.idea
/latex/chapters/2. Das Neuron/aktionspotenzial.png
/latex/chapters/2. Das Neuron/ionenverteilung.png
/latex/chapters/2. Das Neuron/aktionspotenzial_phasen.png
/latex/chapters/3. Kuenstliche Neuronen/mcpneuron.png
/out
