.idea




/out
/latex/dist_29092023
/latex/dist
/auxil
/bibrefs
/quellennachweise
/sketches/Bibliography/originals
/sketches/LatexVorlage
/sketches/das-neuron/img/*.png
/presentation/mathematische modelle der biologischen nervenzelle.pptx
