.idea




/out
/bibrefs
/ki-in-der-medizin.github.io/docs/kapitel/neuron/img/*.png
/latex/dist
/latex/dist_29092023
/presentation/*.pptx
/quellennachweise
/sketches/Bibliography/originals
/sketches/LatexVorlage/*.zip
/sketches/LatexVorlage/Latex
/sketches/das-neuron/img/*.png
